<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>BOSS Information</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/APC/static/lib/layui-v2.5.5/css/layui.css" media="all">
    <link rel="stylesheet" href="/APC/static/css/public.css" media="all">
    <style>
        .layui-bg-number {
            background-color: #F8F8F8;
        }
    </style>
</head>
<body>
<div class="layuimini-container">
    <div class="layuimini-main">
        <blockquote class="layui-elem-quote">
            Buyer{{ buyer }}, Seller:{{ seller }}, Administrator{{ admin }}<br>
        </blockquote>
        <blockquote class="layui-elem-quote">
            The total income:{{ total.money_total | floatformat:2 }} RMB<br>
        </blockquote>

        <div class="row" id="profit" style="width: 100%; height: 300px">

        </div>
        <div class="row" id="day" style="width: 100%; height: 300px">

        </div>
        <div class="row" id="expend" style="width: 100%; height: 300px">

        </div>
    </div>
</div>


<script src="/APC/static/lib/layui-v2.5.5/layui.js" charset="utf-8"></script>

<script src="/APC/static/js/lay-config.js?v=1.0.4" charset="utf-8"></script>
<script src="/APC/static/js/jquery-1.10.2.min.js"></script>
<script src="/APC/static/js/echarts.js"></script>
<script src="/APC/static/js/echarts-wordcloud.js"></script>
<script>
    $.ajax({
        type: 'GET',
        url: '/expend_statistics',//Send Request
        // contentType: 'application/json',
        dataType: "json",
        success: function (result) {
            console.log(result.code);
            if (result.code == 0) {
                var echartsRecords1 = echarts.init(document.getElementById('expend'), 'walden');
                echartsRecords1.clear();
                var optionRecords1 = {
                    tooltip: {
                        trigger: 'axis'
                    },
                    legend: {
                        data: result.data.titleList
                    },
                    grid: {
                        left: '3%',
                        right: '4%',
                        bottom: '3%',
                        containLabel: true
                    },
                    toolbox: {
                        feature: {
                            saveAsImage: {}
                        }
                    },
                    xAxis: {
                        type: 'category',
                        boundaryGap: false,
                        data: result.data.xList
                    },
                    yAxis: {
                        type: 'value'
                    },
                    series: result.data.yList
                };
                echartsRecords1.setOption(optionRecords1);
            } else {
                var echartsRecords1 = echarts.init(document.getElementById('expend'), 'walden');
                echartsRecords1.clear();
            }
        }
    });

    $.ajax({
        type: 'GET',
        url: '/profit_statistics',//Send Request
        // contentType: 'application/json',
        dataType: "json",
        success: function (result) {
            console.log(result.code);
            if (result.code == 0) {
                var echartsRecords1 = echarts.init(document.getElementById('profit'), 'walden');
                echartsRecords1.clear();
                var optionRecords1 = {
                    tooltip: {
                        trigger: 'axis'
                    },
                    legend: {
                        data: result.data.titleList
                    },
                    grid: {
                        left: '3%',
                        right: '4%',
                        bottom: '3%',
                        containLabel: true
                    },
                    toolbox: {
                        feature: {
                            saveAsImage: {}
                        }
                    },
                    xAxis: {
                        type: 'category',
                        boundaryGap: false,
                        data: result.data.xList
                    },
                    yAxis: {
                        type: 'value'
                    },
                    series: result.data.yList
                };
                echartsRecords1.setOption(optionRecords1);
            } else {
                var echartsRecords1 = echarts.init(document.getElementById('profit'), 'walden');
                echartsRecords1.clear();
            }
        }
    });


    $.ajax({
        type: 'GET',
        url: '/day_statistics',//Send Request
        // contentType: 'application/json',
        dataType: "json",
        success: function (result) {
            console.log(result.code);
            if (result.code == 0) {
                var echartsRecords1 = echarts.init(document.getElementById('day'), 'walden');
                echartsRecords1.clear();
                var optionRecords1 = {
                    tooltip: {
                        trigger: 'axis'
                    },
                    legend: {
                        data: result.data.titleList
                    },
                    grid: {
                        left: '3%',
                        right: '4%',
                        bottom: '3%',
                        containLabel: true
                    },
                    toolbox: {
                        feature: {
                            saveAsImage: {}
                        }
                    },
                    xAxis: {
                        type: 'category',
                        boundaryGap: false,
                        data: result.data.xList
                    },
                    yAxis: {
                        type: 'value'
                    },
                    series: result.data.yList
                };
                echartsRecords1.setOption(optionRecords1);
            } else {
                var echartsRecords1 = echarts.init(document.getElementById('day'), 'walden');
                echartsRecords1.clear();
            }
        }
    });

</script>
<script>
    layui.use(['form', 'table'], function () {
        var $ = layui.jquery,
            form = layui.form,
            table = layui.table;
    })
    ;
</script>

</body>
</html>